{
 "openapi": "3.0.3",
 "info": {
  "version": "1.1.4",
  "title": "GitHub v3 REST API",
  "description": "GitHub's v3 REST API.",
  "license": {
   "name": "MIT",
   "url": "https://spdx.org/licenses/MIT"
  },
  "termsOfService": "https://docs.github.com/articles/github-terms-of-service",
  "contact": {
   "name": "Support",
   "url": "https://support.github.com/contact?tags=dotcom-rest-api"
  },
  "x-github-plan": "api.github.com",
  "x-git-migrator-source": {
   "repository": "github/rest-api-description",
   "commit": "2eba8c3ba02f022011539cf01efc43e0251502f8",
   "path": "descriptions/api.github.com/api.github.com.json",
   "retrieved": "2026-10-08",
   "trimmed": true
  }
 },
 "tags": [
  {
   "name": "actions",
   "description": "Endpoints to manage GitHub Actions using the REST API."
  },
  {
   "name": "activity",
   "description": "Activity APIs provide access to notifications, subscriptions, and timelines."
  },
  {
   "name": "apps",
   "description": "Information for integrations and installations."
  },
  {
   "name": "billing",
   "description": "Monitor charges and usage from Actions and Packages."
  },
  {
   "name": "checks",
   "description": "Rich interactions with checks run by your integrations."
  },
  {
   "name": "code-scanning",
   "description": "Retrieve code scanning alerts from a repository."
  },
  {
   "name": "codes-of-conduct",
   "description": "Insight into codes of conduct for your communities."
  },
  {
   "name": "emojis",
   "description": "List emojis available to use on GitHub."
  },
  {
   "name": "dependabot",
   "description": "Endpoints to manage Dependabot."
  },
  {
   "name": "dependency-graph",
   "description": "Endpoints to access Dependency Graph features."
  },
  {
   "name": "gists",
   "description": "View, modify your gists."
  },
  {
   "name": "git",
   "description": "Raw Git functionality."
  },
  {
   "name": "gitignore",
   "description": "View gitignore templates"
  },
  {
   "name": "issues",
   "description": "Interact with GitHub Issues."
  },
  {
   "name": "licenses",
   "description": "View various OSS licenses."
  },
  {
   "name": "markdown",
   "description": "Render GitHub flavored Markdown"
  },
  {
   "name": "merge-queue",
   "description": "Interact with GitHub Merge Queues."
  },
  {
   "name": "meta",
   "description": "Endpoints that give information about the API."
  },
  {
   "name": "migrations",
   "description": "Move projects to or from GitHub."
  },
  {
   "name": "oidc",
   "description": "Endpoints to manage GitHub OIDC configuration using the REST API."
  },
  {
   "name": "orgs",
   "description": "Interact with organizations."
  },
  {
   "name": "packages",
   "description": "Manage packages for authenticated users and organizations."
  },
  {
   "name": "pulls",
   "description": "Interact with GitHub Pull Requests."
  },
  {
   "name": "rate-limit",
   "description": "Check your current rate limit status."
  },
  {
   "name": "reactions",
   "description": "Interact with reactions to various GitHub entities."
  },
  {
   "name": "repos",
   "description": "Interact with GitHub Repos."
  },
  {
   "name": "search",
   "description": "Search for specific items on GitHub."
  },
  {
   "name": "secret-scanning",
   "description": "Retrieve secret scanning alerts from a repository."
  },
  {
   "name": "teams",
   "description": "Interact with GitHub Teams."
  },
  {
   "name": "users",
   "description": "Interact with and view information about users and also current user."
  },
  {
   "name": "code-quality",
   "description": "Insights into reliability, maintainability, and efficiency of your codebase."
  },
  {
   "name": "codespaces",
   "description": "Endpoints to manage Codespaces using the REST API."
  },
  {
   "name": "copilot",
   "description": "Endpoints to manage Copilot using the REST API."
  },
  {
   "name": "copilot-spaces",
   "description": "Endpoints to manage Copilot Spaces using the REST API."
  },
  {
   "name": "security-advisories",
   "description": "Manage security advisories."
  },
  {
   "name": "interactions",
   "description": "Owner or admin management of users interactions."
  },
  {
   "name": "classroom",
   "description": "Interact with GitHub Classroom."
  },
  {
   "name": "desktop",
   "description": "Desktop specific endpoints."
  },
  {
   "name": "code-security",
   "description": "Endpoints to manage Code security using the REST API."
  },
  {
   "name": "private-registries",
   "description": "Manage private registry configurations."
  },
  {
   "name": "hosted-compute",
   "description": "Manage hosted compute networking resources."
  },
  {
   "name": "credentials",
   "description": "Revoke compromised or leaked GitHub credentials."
  },
  {
   "name": "campaigns",
   "description": "Endpoints to manage campaigns via the REST API."
  },
  {
   "name": "projects",
   "description": "Endpoints to manage Projects using the REST API."
  },
  {
   "name": "agent-tasks",
   "description": "Endpoints to manage and interact with agent tasks."
  },
  {
   "name": "agents",
   "description": "Endpoints for Agents secrets and variables."
  }
 ],
 "servers": [
  {
   "url": "https://api.github.com"
  }
 ],
 "externalDocs": {
  "description": "GitHub v3 REST API",
  "url": "https://docs.github.com/rest/"
 },
 "paths": {
  "/app/installations/{installation_id}/access_tokens": {
   "post": {
    "summary": "Create an installation access token for an app",
    "description": "Creates an installation access token that enables a GitHub App to make authenticated API requests for the app's installation on an organization or individual account. Installation tokens expire one hour from the time you create them. Using an expired token produces a status code of `401 - Unauthorized`, and requires creating a new installation token. By default the installation token has access to all repositories that the installation can access.\n\n> [!NOTE]\n> Starting April 27, 2026, GitHub began a staged rollout of a stateless format (`ghs_APPID_JWT`) to all newly minted GitHub App installation tokens, making them more performant and improving the reliability of our API surface. If your application expects or relies on installation tokens being exactly 40 characters long, it may not handle this new token format correctly. You can now validate your apps and workflows using a temporary request header that lets you enable the token format on demand. For more information about the temporary header, see [the GitHub blog](https://github.blog/changelog/2026-05-15-github-app-installation-tokens-per-request-override-header).\n\nOptionally, you can use the `repositories` or `repository_ids` body parameters to specify individual repositories that the installation access token can access. If you don't use `repositories` or `repository_ids` to grant access to specific repositories, the installation access token will have access to all repositories that the installation was granted access to. The installation access token cannot be granted access to repositories that the installation was not granted access to. Up to 500 repositories can be listed in this manner.\n\nOptionally, use the `permissions` body parameter to specify the permissions that the installation access token should have. If `permissions` is not specified, the installation access token will have all of the permissions that were granted to the app. The installation access token cannot be granted permissions that the app was not granted.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
    "tags": [
     "apps"
    ],
    "operationId": "apps/create-installation-access-token",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/apps/apps#create-an-installation-access-token-for-an-app"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/installation-id"
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "repositories": {
          "description": "List of repository names that the token should have access to",
          "type": "array",
          "items": {
           "type": "string",
           "example": "rails"
          }
         },
         "repository_ids": {
          "description": "List of repository IDs that the token should have access to",
          "example": [
           1
          ],
          "type": "array",
          "items": {
           "type": "integer"
          }
         },
         "permissions": {
          "$ref": "#/components/schemas/app-permissions"
         }
        }
       },
       "examples": {
        "default": {
         "value": {
          "repositories": [
           "Hello-World"
          ],
          "permissions": {
           "issues": "write",
           "contents": "read"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/installation-token"
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/installation-token"
         }
        }
       }
      }
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     },
     "401": {
      "$ref": "#/components/responses/requires_authentication"
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     },
     "422": {
      "$ref": "#/components/responses/validation_failed"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "apps",
     "subcategory": "apps"
    }
   }
  },
  "/orgs/{org}": {
   "get": {
    "summary": "Get an organization",
    "description": "Gets information about an organization.\n\nWhen the value of `two_factor_requirement_enabled` is `true`, the organization requires all members, billing managers, outside collaborators, guest collaborators, repository collaborators, or everyone with access to any repository within the organization to enable [two-factor authentication](https://docs.github.com/articles/securing-your-account-with-two-factor-authentication-2fa/).\n\nTo see the full details about an organization, the authenticated user must be an organization owner.\n\nOAuth app tokens and personal access tokens (classic) need the `admin:org` scope to see the full details about an organization.\n\nTo see information about an organization's GitHub plan, GitHub Apps need the `Organization plan` permission.",
    "tags": [
     "orgs"
    ],
    "operationId": "orgs/get",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/orgs/orgs#get-an-organization"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/organization-full"
        },
        "examples": {
         "default-response": {
          "$ref": "#/components/examples/organization-full"
         }
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "orgs",
     "subcategory": "orgs"
    }
   }
  },
  "/orgs/{org}/members": {
   "get": {
    "summary": "List organization members",
    "description": "List all users who are members of an organization. If the authenticated user is also a member of this organization then both concealed and public members will be returned.",
    "tags": [
     "orgs"
    ],
    "operationId": "orgs/list-members",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/orgs/members#list-organization-members"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "name": "filter",
      "description": "Filter members returned in the list. `2fa_disabled` means that only members without [two-factor authentication](https://github.com/blog/1614-two-factor-authentication) enabled will be returned. `2fa_insecure` means that only members with [insecure 2FA methods](https://docs.github.com/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/requiring-two-factor-authentication-in-your-organization#requiring-secure-methods-of-two-factor-authentication-in-your-organization) will be returned. These options are only available for organization owners.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "2fa_disabled",
        "2fa_insecure",
        "all"
       ],
       "default": "all"
      }
     },
     {
      "name": "role",
      "description": "Filter members returned by their role.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "all",
        "admin",
        "member"
       ],
       "default": "all"
      }
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/simple-user"
         }
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/simple-user-items"
         }
        }
       }
      },
      "headers": {
       "Link": {
        "$ref": "#/components/headers/link"
       }
      }
     },
     "422": {
      "$ref": "#/components/responses/validation_failed"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "orgs",
     "subcategory": "members"
    }
   }
  },
  "/orgs/{org}/invitations": {
   "get": {
    "summary": "List pending organization invitations",
    "description": "The return hash contains a `role` field which refers to the Organization\nInvitation role and will be one of the following values: `direct_member`, `admin`,\n`billing_manager`, or `hiring_manager`. If the invitee is not a GitHub\nmember, the `login` field in the return hash will be `null`.",
    "tags": [
     "orgs"
    ],
    "operationId": "orgs/list-pending-invitations",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/orgs/members#list-pending-organization-invitations"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     },
     {
      "name": "role",
      "description": "Filter invitations by their member role.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "all",
        "admin",
        "direct_member",
        "billing_manager",
        "hiring_manager"
       ],
       "default": "all"
      }
     },
     {
      "name": "invitation_source",
      "description": "Filter invitations by their invitation source.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "all",
        "member",
        "scim"
       ],
       "default": "all"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/organization-invitation"
         }
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/organization-invitation-items"
         }
        }
       }
      },
      "headers": {
       "Link": {
        "$ref": "#/components/headers/link"
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "orgs",
     "subcategory": "members"
    }
   },
   "post": {
    "summary": "Create an organization invitation",
    "description": "Invite people to an organization by using their GitHub user ID or their email address. In order to create invitations in an organization, the authenticated user must be an organization owner.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\"\nand \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"",
    "tags": [
     "orgs"
    ],
    "operationId": "orgs/create-invitation",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/orgs/members#create-an-organization-invitation"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "invitee_id": {
          "type": "integer",
          "description": "**Required unless you provide `email`**. GitHub user ID for the person you are inviting."
         },
         "email": {
          "type": "string",
          "description": "**Required unless you provide `invitee_id`**. Email address of the person you are inviting, which can be an existing GitHub user."
         },
         "role": {
          "type": "string",
          "description": "The role for the new member. \n * `admin` - Organization owners with full administrative rights to the organization and complete access to all repositories and teams.  \n * `direct_member` - Non-owner organization members with ability to see other members and join teams by invitation.  \n * `billing_manager` - Non-owner organization members with ability to manage the billing settings of your organization. \n * `reinstate` - The previous role assigned to the invitee before they were removed from your organization. Can be one of the roles listed above. Only works if the invitee was previously part of your organization.",
          "enum": [
           "admin",
           "direct_member",
           "billing_manager",
           "reinstate"
          ],
          "default": "direct_member"
         },
         "team_ids": {
          "type": "array",
          "description": "Specify IDs for the teams you want to invite new members to.",
          "items": {
           "type": "integer"
          }
         }
        }
       },
       "examples": {
        "default": {
         "value": {
          "email": "octocat@github.com",
          "role": "direct_member",
          "team_ids": [
           12,
           26
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/organization-invitation"
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/organization-invitation"
         }
        }
       }
      }
     },
     "422": {
      "$ref": "#/components/responses/validation_failed"
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "triggersNotification": true,
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "orgs",
     "subcategory": "members"
    }
   }
  },
  "/users/{username}": {
   "get": {
    "summary": "Get a user",
    "description": "Provides publicly available information about someone with a GitHub account.\n\nIf the specified user has a [private profile](https://docs.github.com/account-and-profile/concepts/personal-profile#private-profiles), the `followers` and `following` values are `0` unless the request is authenticated as that user. A request authenticated as the specified user returns the actual values even if the token has no OAuth scopes.\n\nThe `events_url` value is a URI template. Replace `{/privacy}` with `/public` to retrieve only public events. Omit it to retrieve public events and, when authenticated as the user, private events. For more information, see \"[List events for the authenticated user](https://docs.github.com/rest/activity/events#list-events-for-the-authenticated-user).\"\n\nIf you are requesting information about an [Enterprise Managed User](https://docs.github.com/enterprise-cloud@latest/admin/managing-iam/understanding-iam-for-enterprises/about-enterprise-managed-users), or a GitHub App bot that is installed in an organization that uses Enterprise Managed Users, your requests must be authenticated as a user or GitHub App that has access to the organization to view that account's information. If you are not authorized, the request will return a `404 Not Found` status.\n\nThe `email` key in the following response is the publicly visible email address from your GitHub [profile page](https://github.com/settings/profile). When setting up your profile, you can select a primary email address to be public which provides an email entry for this endpoint. If you do not set a public email address for `email`, then it will have a value of `null`. You only see publicly visible email addresses when authenticated with GitHub. For more information, see [Authentication](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#authentication).\n\nThe Emails API enables you to list all of your email addresses, and toggle a primary email to be visible publicly. For more information, see [Emails API](https://docs.github.com/rest/users/emails).",
    "tags": [
     "users"
    ],
    "operationId": "users/get-by-username",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/users/users#get-a-user"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/username"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/private-user"
          },
          {
           "$ref": "#/components/schemas/public-user"
          }
         ],
         "discriminator": {
          "propertyName": "user_view_type",
          "mapping": {
           "public": "#/components/schemas/public-user",
           "private": "#/components/schemas/private-user"
          }
         }
        },
        "examples": {
         "default-response": {
          "$ref": "#/components/examples/public-user-default-response"
         },
         "response-with-git-hub-plan-information": {
          "$ref": "#/components/examples/public-user-response-with-git-hub-plan-information"
         }
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "users",
     "subcategory": "users"
    }
   }
  },
  "/orgs/{org}/teams": {
   "get": {
    "summary": "List teams",
    "description": "Lists all teams in an organization that are visible to the authenticated user.",
    "tags": [
     "teams"
    ],
    "operationId": "teams/list",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/teams#list-teams"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     },
     {
      "$ref": "#/components/parameters/team-type"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/team"
         }
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/team-items"
         }
        }
       }
      },
      "headers": {
       "Link": {
        "$ref": "#/components/headers/link"
       }
      }
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "teams"
    }
   },
   "post": {
    "summary": "Create a team",
    "description": "To create a team, the authenticated user must be a member or owner of `{org}`. By default, organization members can create teams. Organization owners can limit team creation to organization owners. For more information, see \"[Setting team creation permissions](https://docs.github.com/articles/setting-team-creation-permissions-in-your-organization).\"\n\nWhen you create a new team, you automatically become a team maintainer without explicitly adding yourself to the optional array of `maintainers`. For more information, see \"[About teams](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/about-teams)\".",
    "tags": [
     "teams"
    ],
    "operationId": "teams/create",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/teams#create-a-team"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the team."
         },
         "description": {
          "type": "string",
          "description": "The description of the team."
         },
         "maintainers": {
          "type": "array",
          "description": "List GitHub usernames for organization members who will become team maintainers.",
          "items": {
           "type": "string"
          }
         },
         "repo_names": {
          "type": "array",
          "description": "The full name (e.g., \"organization-name/repository-name\") of repositories to add the team to.",
          "items": {
           "type": "string"
          }
         },
         "privacy": {
          "type": "string",
          "description": "The level of privacy this team should have. The options are:  \n**For a non-nested team:**  \n * `secret` - only visible to organization owners and members of this team.  \n * `closed` - visible to all members of this organization.  \nDefault: `secret`  \n**For a parent or child team:**  \n * `closed` - visible to all members of this organization.  \nDefault for child team: `closed`",
          "enum": [
           "secret",
           "closed"
          ]
         },
         "notification_setting": {
          "type": "string",
          "description": "The notification setting the team has chosen. The options are:  \n * `notifications_enabled` - team members receive notifications when the team is @mentioned.  \n * `notifications_disabled` - no one receives notifications.  \nDefault: `notifications_enabled`",
          "enum": [
           "notifications_enabled",
           "notifications_disabled"
          ]
         },
         "permission": {
          "type": "string",
          "description": "**Closing down notice**. The permission that new repositories will be added to the team with when none is specified.",
          "enum": [
           "pull",
           "push"
          ],
          "default": "pull"
         },
         "parent_team_id": {
          "type": "integer",
          "description": "The ID of a team to set as the parent team."
         },
         "parent_team_slug": {
          "type": "string",
          "description": "The slug of a team to set as the parent team. Ignored when `parent_team_id` is also provided."
         }
        },
        "required": [
         "name"
        ]
       },
       "examples": {
        "default": {
         "value": {
          "name": "Justice League",
          "description": "A great team",
          "permission": "push",
          "notification_setting": "notifications_enabled",
          "privacy": "closed"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/team-full"
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/team-full"
         }
        }
       }
      }
     },
     "422": {
      "$ref": "#/components/responses/validation_failed"
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "teams"
    },
    "x-github-breaking-changes": [
     {
      "changeset": "remove_team_permission",
      "patch": {
       "requestBody": {
        "required": true,
        "content": {
         "application/json": {
          "schema": {
           "properties": {
            "permission": null
           }
          }
         }
        }
       }
      },
      "version": "2026-03-10"
     }
    ]
   }
  },
  "/orgs/{org}/teams/{team_slug}/memberships/{username}": {
   "get": {
    "summary": "Get team membership for a user",
    "description": "Team members will include the members of child teams.\n\nTo get a user's membership with a team, the team must be visible to the authenticated user.\n\n> [!NOTE]\n> You can also specify a team by `org_id` and `team_id` using the route `GET /organizations/{org_id}/team/{team_id}/memberships/{username}`.\n\n> [!NOTE]\n> The response contains the `state` of the membership and the member's `role`.\n\nThe `role` for organization owners is set to `maintainer`. For more information about `maintainer` roles, see [Create a team](https://docs.github.com/rest/teams/teams#create-a-team).",
    "tags": [
     "teams"
    ],
    "operationId": "teams/get-membership-for-user-in-org",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/members#get-team-membership-for-a-user"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/team-slug"
     },
     {
      "$ref": "#/components/parameters/username"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/team-membership"
        },
        "examples": {
         "response-if-user-is-a-team-maintainer": {
          "$ref": "#/components/examples/team-membership-response-if-user-is-a-team-maintainer"
         }
        }
       }
      }
     },
     "404": {
      "description": "if user has no team membership"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "members"
    }
   },
   "put": {
    "summary": "Add or update team membership for a user",
    "description": "Adds an organization member to a team. An authenticated organization owner or team maintainer can add organization members to a team.\n\nTeam synchronization is available for organizations using GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.\n\n> [!NOTE]\n> When you have team synchronization set up for a team with your organization's identity provider (IdP), you will see an error if you attempt to use the API for making changes to the team's membership. If you have access to manage group membership in your IdP, you can manage GitHub team membership through your identity provider, which automatically adds and removes team members in an organization. For more information, see \"[Synchronizing teams between your identity provider and GitHub](https://docs.github.com/articles/synchronizing-teams-between-your-identity-provider-and-github/).\"\n\nAn organization owner can add someone who is not part of the team's organization to a team. When an organization owner adds someone to a team who is not an organization member, this endpoint will send an invitation to the person via email. This newly-created membership will be in the \"pending\" state until the person accepts the invitation, at which point the membership will transition to the \"active\" state and the user will be added as a member of the team.\n\nIf the user is already a member of the team, this endpoint will update the role of the team member's role. To update the membership of a team member, the authenticated user must be an organization owner or a team maintainer.\n\n> [!NOTE]\n> You can also specify a team by `org_id` and `team_id` using the route `PUT /organizations/{org_id}/team/{team_id}/memberships/{username}`.",
    "tags": [
     "teams"
    ],
    "operationId": "teams/add-or-update-membership-for-user-in-org",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/members#add-or-update-team-membership-for-a-user"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/team-slug"
     },
     {
      "$ref": "#/components/parameters/username"
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "role": {
          "type": "string",
          "description": "The role that this user should have in the team.",
          "enum": [
           "member",
           "maintainer"
          ],
          "default": "member"
         }
        }
       },
       "examples": {
        "default": {
         "summary": "Add or update team membership for an organization member",
         "value": {
          "role": "maintainer"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/team-membership"
        },
        "examples": {
         "response-if-users-membership-with-team-is-now-pending": {
          "$ref": "#/components/examples/team-membership-response-if-users-membership-with-team-is-now-pending"
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden if team synchronization is set up"
     },
     "422": {
      "description": "Unprocessable Entity if you attempt to add an organization to a team"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "members"
    }
   },
   "delete": {
    "summary": "Remove team membership for a user",
    "description": "To remove a membership between a user and a team, the authenticated user must have 'admin' permissions to the team or be an owner of the organization that the team is associated with. Removing team membership does not delete the user, it just removes their membership from the team.\n\nTeam synchronization is available for organizations using GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.\n\n> [!NOTE]\n> When you have team synchronization set up for a team with your organization's identity provider (IdP), you will see an error if you attempt to use the API for making changes to the team's membership. If you have access to manage group membership in your IdP, you can manage GitHub team membership through your identity provider, which automatically adds and removes team members in an organization. For more information, see \"[Synchronizing teams between your identity provider and GitHub](https://docs.github.com/articles/synchronizing-teams-between-your-identity-provider-and-github/).\"\n\n> [!NOTE]\n> You can also specify a team by `org_id` and `team_id` using the route `DELETE /organizations/{org_id}/team/{team_id}/memberships/{username}`.",
    "tags": [
     "teams"
    ],
    "operationId": "teams/remove-membership-for-user-in-org",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/members#remove-team-membership-for-a-user"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/team-slug"
     },
     {
      "$ref": "#/components/parameters/username"
     }
    ],
    "responses": {
     "204": {
      "description": "Response"
     },
     "403": {
      "description": "Forbidden if team synchronization is set up"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "members"
    }
   }
  },
  "/orgs/{org}/teams/{team_slug}/members": {
   "get": {
    "summary": "List team members",
    "description": "Team members will include the members of child teams.\n\nEach member includes their `role` on the team (`member` or `maintainer`) and an `inherited` flag indicating whether the membership is inherited from a child team (`true`) or is a direct membership (`false`). These fields let you read a member's role and direct/inherited status without additional requests.\n\nTo list members in a team, the team must be visible to the authenticated user.\n\n> [!NOTE]\n> You can also specify a team by `org_id` and `team_id` using the route `GET /organizations/{org_id}/team/{team_id}/members`.",
    "tags": [
     "teams"
    ],
    "operationId": "teams/list-members-in-org",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/members#list-team-members"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/team-slug"
     },
     {
      "name": "role",
      "description": "Filters members returned by their role in the team.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "member",
        "maintainer",
        "all"
       ],
       "default": "all"
      }
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/team-member"
         }
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/team-member-items"
         }
        }
       }
      },
      "headers": {
       "Link": {
        "$ref": "#/components/headers/link"
       }
      }
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "members"
    }
   }
  },
  "/orgs/{org}/repos": {
   "post": {
    "summary": "Create an organization repository",
    "description": "Creates a new repository in the specified organization. The authenticated user must be a member of the organization.\n\nOAuth app tokens and personal access tokens (classic) need the `public_repo` or `repo` scope to create a public repository, and `repo` scope to create a private repository.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/create-in-org",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/repos/repos#create-an-organization-repository"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the repository."
         },
         "description": {
          "type": "string",
          "description": "A short description of the repository."
         },
         "homepage": {
          "type": "string",
          "description": "A URL with more information about the repository."
         },
         "private": {
          "type": "boolean",
          "description": "Whether the repository is private.",
          "default": false
         },
         "visibility": {
          "type": "string",
          "description": "The visibility of the repository.",
          "enum": [
           "public",
           "private"
          ]
         },
         "has_issues": {
          "type": "boolean",
          "description": "Either `true` to enable issues for this repository or `false` to disable them.",
          "default": true
         },
         "has_projects": {
          "type": "boolean",
          "description": "Either `true` to enable projects for this repository or `false` to disable them. **Note:** If you're creating a repository in an organization that has disabled repository projects, the default is `false`, and if you pass `true`, the API returns an error.",
          "default": true
         },
         "has_wiki": {
          "type": "boolean",
          "description": "Either `true` to enable the wiki for this repository or `false` to disable it.",
          "default": true
         },
         "has_downloads": {
          "description": "Whether downloads are enabled.",
          "default": true,
          "type": "boolean",
          "example": true
         },
         "is_template": {
          "type": "boolean",
          "description": "Either `true` to make this repo available as a template repository or `false` to prevent it.",
          "default": false
         },
         "team_id": {
          "type": "integer",
          "description": "The id of the team that will be granted access to this repository. This is only valid when creating a repository in an organization."
         },
         "auto_init": {
          "type": "boolean",
          "description": "Pass `true` to create an initial commit with empty README.",
          "default": false
         },
         "gitignore_template": {
          "type": "string",
          "description": "Desired language or platform [.gitignore template](https://github.com/github/gitignore) to apply. Use the name of the template without the extension. For example, \"Haskell\"."
         },
         "license_template": {
          "type": "string",
          "description": "Choose an [open source license template](https://choosealicense.com/) that best suits your needs, and then use the [license keyword](https://docs.github.com/articles/licensing-a-repository/#searching-github-by-license-type) as the `license_template` string. For example, \"mit\" or \"mpl-2.0\"."
         },
         "allow_squash_merge": {
          "type": "boolean",
          "description": "Either `true` to allow squash-merging pull requests, or `false` to prevent squash-merging.",
          "default": true
         },
         "allow_merge_commit": {
          "type": "boolean",
          "description": "Either `true` to allow merging pull requests with a merge commit, or `false` to prevent merging pull requests with merge commits.",
          "default": true
         },
         "allow_rebase_merge": {
          "type": "boolean",
          "description": "Either `true` to allow rebase-merging pull requests, or `false` to prevent rebase-merging.",
          "default": true
         },
         "allow_auto_merge": {
          "type": "boolean",
          "description": "Either `true` to allow auto-merge on pull requests, or `false` to disallow auto-merge.",
          "default": false
         },
         "delete_branch_on_merge": {
          "type": "boolean",
          "description": "Either `true` to allow automatically deleting head branches when pull requests are merged, or `false` to prevent automatic deletion. **The authenticated user must be an organization owner to set this property to `true`.**",
          "default": false
         },
         "use_squash_pr_title_as_default": {
          "type": "boolean",
          "description": "Either `true` to allow squash-merge commits to use pull request title, or `false` to use commit message. **This property is closing down. Please use `squash_merge_commit_title` instead.",
          "default": false,
          "deprecated": true
         },
         "squash_merge_commit_title": {
          "type": "string",
          "enum": [
           "PR_TITLE",
           "COMMIT_OR_PR_TITLE"
          ],
          "description": "Required when using `squash_merge_commit_message`.\n\nThe default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
         },
         "squash_merge_commit_message": {
          "type": "string",
          "enum": [
           "PR_BODY",
           "COMMIT_MESSAGES",
           "BLANK"
          ],
          "description": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
         },
         "merge_commit_title": {
          "type": "string",
          "enum": [
           "PR_TITLE",
           "MERGE_MESSAGE"
          ],
          "description": "Required when using `merge_commit_message`.\n\nThe default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
         },
         "merge_commit_message": {
          "type": "string",
          "enum": [
           "PR_BODY",
           "PR_TITLE",
           "BLANK"
          ],
          "description": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
         },
         "custom_properties": {
          "type": "object",
          "description": "The custom properties for the new repository. The keys are the custom property names, and the values are the corresponding custom property values.",
          "additionalProperties": true
         }
        },
        "required": [
         "name"
        ]
       },
       "examples": {
        "default": {
         "value": {
          "name": "Hello-World",
          "description": "This is your first repository",
          "homepage": "https://github.com",
          "private": false,
          "has_issues": true,
          "has_projects": true,
          "has_wiki": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/full-repository"
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/full-repository"
         }
        }
       }
      },
      "headers": {
       "Location": {
        "example": "https://api.github.com/repos/octocat/Hello-World",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     },
     "422": {
      "$ref": "#/components/responses/validation_failed"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "repos",
     "subcategory": "repos"
    },
    "x-github-breaking-changes": [
     {
      "changeset": "change_create_repo_trade_compliance_response_status",
      "patch": {
       "responses": {
        "451": {
         "$ref": "#/components/responses/validation_failed"
        }
       }
      },
      "version": "2026-03-10"
     }
    ]
   }
  },
  "/repos/{owner}/{repo}": {
   "get": {
    "summary": "Get a repository",
    "description": "The `parent` and `source` objects are present when the repository is a fork. `parent` is the repository this repository was forked from, `source` is the ultimate source for the network.\n\n> [!NOTE]\n> - In order to see the `security_and_analysis` block for a repository you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n> - To view merge-related settings, you must have the `contents:read` and `contents:write` permissions.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/get",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/repos/repos#get-a-repository"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/full-repository"
        },
        "examples": {
         "default-response": {
          "$ref": "#/components/examples/full-repository-default-response"
         }
        }
       }
      }
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     },
     "301": {
      "$ref": "#/components/responses/moved_permanently"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "repos",
     "subcategory": "repos"
    }
   },
   "patch": {
    "summary": "Update a repository",
    "description": "**Note**: To edit a repository's topics, use the [Replace all repository topics](https://docs.github.com/rest/repos/repos#replace-all-repository-topics) endpoint.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/update",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/repos/repos#update-a-repository"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the repository."
         },
         "description": {
          "type": "string",
          "description": "A short description of the repository."
         },
         "homepage": {
          "type": "string",
          "description": "A URL with more information about the repository."
         },
         "private": {
          "type": "boolean",
          "description": "Either `true` to make the repository private or `false` to make it public. Default: `false`.  \n**Note**: You will get a `422` error if the organization restricts [changing repository visibility](https://docs.github.com/articles/repository-permission-levels-for-an-organization#changing-the-visibility-of-repositories) to organization owners and a non-owner tries to change the value of private.",
          "default": false
         },
         "visibility": {
          "type": "string",
          "description": "The visibility of the repository.",
          "enum": [
           "public",
           "private"
          ]
         },
         "security_and_analysis": {
          "type": "object",
          "description": "Specify which security and analysis features to enable or disable for the repository.\n\nTo use this parameter, you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n\nFor example, to enable GitHub Advanced Security, use this data in the body of the `PATCH` request:\n`{ \"security_and_analysis\": {\"advanced_security\": { \"status\": \"enabled\" } } }`.\n\nYou can check which security and analysis features are currently enabled by using a `GET /repos/{owner}/{repo}` request.",
          "nullable": true,
          "properties": {
           "advanced_security": {
            "type": "object",
            "description": "Use the `status` property to enable or disable GitHub Advanced Security for this repository.\nFor more information, see \"[About GitHub Advanced\nSecurity](/github/getting-started-with-github/learning-about-github/about-github-advanced-security).\"\n\nFor standalone Code Scanning or Secret Protection products, this parameter cannot be used.",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "code_security": {
            "type": "object",
            "description": "Use the `status` property to enable or disable GitHub Code Security for this repository.",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "secret_scanning": {
            "type": "object",
            "description": "Use the `status` property to enable or disable secret scanning for this repository. For more information, see \"[About secret scanning](/code-security/secret-security/about-secret-scanning).\"",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "secret_scanning_push_protection": {
            "type": "object",
            "description": "Use the `status` property to enable or disable secret scanning push protection for this repository. For more information, see \"[Protecting pushes with secret scanning](/code-security/secret-scanning/protecting-pushes-with-secret-scanning).\"",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "secret_scanning_ai_detection": {
            "type": "object",
            "description": "Use the `status` property to enable or disable secret scanning AI detection for this repository. For more information, see \"[Responsible detection of generic secrets with AI](https://docs.github.com/code-security/secret-scanning/using-advanced-secret-scanning-and-push-protection-features/generic-secret-detection/responsible-ai-generic-secrets).\"",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "secret_scanning_non_provider_patterns": {
            "type": "object",
            "description": "Use the `status` property to enable or disable secret scanning non-provider patterns for this repository. For more information, see \"[Supported secret scanning patterns](/code-security/secret-scanning/introduction/supported-secret-scanning-patterns#supported-secrets).\"",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "secret_scanning_delegated_alert_dismissal": {
            "type": "object",
            "description": "Use the `status` property to enable or disable secret scanning delegated alert dismissal for this repository.",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "secret_scanning_delegated_bypass": {
            "type": "object",
            "description": "Use the `status` property to enable or disable secret scanning delegated bypass for this repository.",
            "properties": {
             "status": {
              "type": "string",
              "description": "Can be `enabled` or `disabled`."
             }
            }
           },
           "secret_scanning_delegated_bypass_options": {
            "type": "object",
            "description": "Feature options for secret scanning delegated bypass.\nThis object is only honored when `security_and_analysis.secret_scanning_delegated_bypass.status` is set to `enabled`.\nYou can send this object in the same request as `secret_scanning_delegated_bypass`, or update just the options in a separate request.",
            "properties": {
             "reviewers": {
              "type": "array",
              "description": "The bypass reviewers for secret scanning delegated bypass.\nIf you omit this field, the existing set of reviewers is unchanged.",
              "items": {
               "type": "object",
               "required": [
                "reviewer_id",
                "reviewer_type"
               ],
               "properties": {
                "reviewer_id": {
                 "type": "integer",
                 "description": "The ID of the team or role selected as a bypass reviewer"
                },
                "reviewer_type": {
                 "type": "string",
                 "description": "The type of the bypass reviewer",
                 "enum": [
                  "TEAM",
                  "ROLE"
                 ]
                },
                "mode": {
                 "type": "string",
                 "description": "The bypass mode for the reviewer",
                 "enum": [
                  "ALWAYS",
                  "EXEMPT"
                 ],
                 "default": "ALWAYS"
                }
               }
              }
             }
            }
           }
          }
         },
         "has_issues": {
          "type": "boolean",
          "description": "Either `true` to enable issues for this repository or `false` to disable them.",
          "default": true
         },
         "has_projects": {
          "type": "boolean",
          "description": "Either `true` to enable projects for this repository or `false` to disable them. **Note:** If you're creating a repository in an organization that has disabled repository projects, the default is `false`, and if you pass `true`, the API returns an error.",
          "default": true
         },
         "has_wiki": {
          "type": "boolean",
          "description": "Either `true` to enable the wiki for this repository or `false` to disable it.",
          "default": true
         },
         "has_pull_requests": {
          "type": "boolean",
          "description": "Either `true` to allow pull requests for this repository or `false` to prevent pull requests.",
          "default": true
         },
         "pull_request_creation_policy": {
          "type": "string",
          "description": "The policy that controls who can create pull requests for this repository: `all` or `collaborators_only`.",
          "enum": [
           "all",
           "collaborators_only"
          ]
         },
         "is_template": {
          "type": "boolean",
          "description": "Either `true` to make this repo available as a template repository or `false` to prevent it.",
          "default": false
         },
         "default_branch": {
          "type": "string",
          "description": "Updates the default branch for this repository."
         },
         "allow_squash_merge": {
          "type": "boolean",
          "description": "Either `true` to allow squash-merging pull requests, or `false` to prevent squash-merging.",
          "default": true
         },
         "allow_merge_commit": {
          "type": "boolean",
          "description": "Either `true` to allow merging pull requests with a merge commit, or `false` to prevent merging pull requests with merge commits.",
          "default": true
         },
         "allow_rebase_merge": {
          "type": "boolean",
          "description": "Either `true` to allow rebase-merging pull requests, or `false` to prevent rebase-merging.",
          "default": true
         },
         "allow_auto_merge": {
          "type": "boolean",
          "description": "Either `true` to allow auto-merge on pull requests, or `false` to disallow auto-merge.",
          "default": false
         },
         "delete_branch_on_merge": {
          "type": "boolean",
          "description": "Either `true` to allow automatically deleting head branches when pull requests are merged, or `false` to prevent automatic deletion.",
          "default": false
         },
         "allow_update_branch": {
          "type": "boolean",
          "description": "Either `true` to always allow a pull request head branch that is behind its base branch to be updated even if it is not required to be up to date before merging, or false otherwise.",
          "default": false
         },
         "use_squash_pr_title_as_default": {
          "type": "boolean",
          "description": "Either `true` to allow squash-merge commits to use pull request title, or `false` to use commit message. **This property is closing down. Please use `squash_merge_commit_title` instead.",
          "default": false,
          "deprecated": true
         },
         "squash_merge_commit_title": {
          "type": "string",
          "enum": [
           "PR_TITLE",
           "COMMIT_OR_PR_TITLE"
          ],
          "description": "Required when using `squash_merge_commit_message`.\n\nThe default value for a squash merge commit title:\n\n- `PR_TITLE` - default to the pull request's title.\n- `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit)."
         },
         "squash_merge_commit_message": {
          "type": "string",
          "enum": [
           "PR_BODY",
           "COMMIT_MESSAGES",
           "BLANK"
          ],
          "description": "The default value for a squash merge commit message:\n\n- `PR_BODY` - default to the pull request's body.\n- `COMMIT_MESSAGES` - default to the branch's commit messages.\n- `BLANK` - default to a blank commit message."
         },
         "merge_commit_title": {
          "type": "string",
          "enum": [
           "PR_TITLE",
           "MERGE_MESSAGE"
          ],
          "description": "Required when using `merge_commit_message`.\n\nThe default value for a merge commit title.\n\n- `PR_TITLE` - default to the pull request's title.\n- `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name)."
         },
         "merge_commit_message": {
          "type": "string",
          "enum": [
           "PR_BODY",
           "PR_TITLE",
           "BLANK"
          ],
          "description": "The default value for a merge commit message.\n\n- `PR_TITLE` - default to the pull request's title.\n- `PR_BODY` - default to the pull request's body.\n- `BLANK` - default to a blank commit message."
         },
         "archived": {
          "type": "boolean",
          "description": "Whether to archive this repository. `false` will unarchive a previously archived repository.",
          "default": false
         },
         "allow_forking": {
          "type": "boolean",
          "description": "Either `true` to allow private forks, or `false` to prevent private forks.",
          "default": false
         },
         "web_commit_signoff_required": {
          "type": "boolean",
          "description": "Either `true` to require contributors to sign off on web-based commits, or `false` to not require contributors to sign off on web-based commits.",
          "default": false
         }
        }
       },
       "examples": {
        "default": {
         "value": {
          "name": "Hello-World",
          "description": "This is your first repository",
          "homepage": "https://github.com",
          "private": true,
          "has_issues": true,
          "has_projects": true,
          "has_wiki": true
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/full-repository"
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/full-repository"
         }
        }
       }
      }
     },
     "307": {
      "$ref": "#/components/responses/temporary_redirect"
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     },
     "422": {
      "$ref": "#/components/responses/validation_failed"
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "repos",
     "subcategory": "repos"
    }
   },
   "delete": {
    "summary": "Delete a repository",
    "description": "Deleting a repository requires admin access.\n\nIf an organization owner has configured the organization to prevent members from deleting organization-owned\nrepositories, you will get a `403 Forbidden` response.\n\nOAuth app tokens and personal access tokens (classic) need the `delete_repo` scope to use this endpoint.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/delete",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/repos/repos#delete-a-repository"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     }
    ],
    "responses": {
     "204": {
      "description": "Response"
     },
     "403": {
      "description": "If an organization owner has configured the organization to prevent members from deleting organization-owned repositories, a member will get this response:",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "documentation_url": {
           "type": "string"
          }
         }
        },
        "examples": {
         "default": {
          "value": {
           "message": "Organization members cannot delete repositories.",
           "documentation_url": "https://docs.github.com/rest/repos/repos#delete-a-repository"
          }
         }
        }
       }
      }
     },
     "307": {
      "$ref": "#/components/responses/temporary_redirect"
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     },
     "409": {
      "$ref": "#/components/responses/conflict"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "repos",
     "subcategory": "repos"
    }
   }
  },
  "/repos/{owner}/{repo}/branches": {
   "get": {
    "summary": "List branches",
    "description": "",
    "tags": [
     "repos"
    ],
    "operationId": "repos/list-branches",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/branches/branches#list-branches"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "name": "protected",
      "description": "Setting to `true` returns only branches protected by branch protections or rulesets. When set to `false`, only unprotected branches are returned. Omitting this parameter returns all branches.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/short-branch"
         }
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/short-branch-with-protection-items"
         }
        }
       }
      },
      "headers": {
       "Link": {
        "$ref": "#/components/headers/link"
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "branches",
     "subcategory": "branches"
    }
   }
  },
  "/repos/{owner}/{repo}/collaborators": {
   "get": {
    "summary": "List repository collaborators",
    "description": "For organization-owned repositories, the list of collaborators includes outside collaborators, organization members that are direct collaborators, organization members with access through team memberships, organization members with access through default organization permissions, and organization owners.\nThe `permissions` hash returned in the response contains the base role permissions of the collaborator. The `role_name` is the highest role assigned to the collaborator after considering all sources of grants, including: repo, teams, organization, and enterprise.\nThere is presently not a way to differentiate between an organization level grant and a repository level grant from this endpoint response.\n\nTeam members will include the members of child teams.\n\nThe authenticated user must have write, maintain, or admin privileges on the repository to use this endpoint. For organization-owned repositories, the authenticated user needs to be a member of the organization.\nOAuth app tokens and personal access tokens (classic) need the `read:org` and `repo` scopes to use this endpoint.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/list-collaborators",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/collaborators/collaborators#list-repository-collaborators"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "name": "affiliation",
      "description": "Filter collaborators returned by their affiliation. `outside` means all outside collaborators of an organization-owned repository. `direct` means all collaborators with permissions to an organization-owned repository, regardless of organization membership status. `all` means all collaborators the authenticated user can see.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "outside",
        "direct",
        "all"
       ],
       "default": "all"
      }
     },
     {
      "name": "permission",
      "description": "Filter collaborators by the permissions they have on the repository. If not specified, all collaborators will be returned.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "pull",
        "triage",
        "triage_plus",
        "push",
        "maintain",
        "admin"
       ]
      }
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/collaborator"
         }
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/collaborator-items"
         }
        }
       }
      },
      "headers": {
       "Link": {
        "$ref": "#/components/headers/link"
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "collaborators",
     "subcategory": "collaborators"
    }
   }
  },
  "/repos/{owner}/{repo}/collaborators/{username}": {
   "get": {
    "summary": "Check if a user is a repository collaborator",
    "description": "For organization-owned repositories, the list of collaborators includes outside collaborators, organization members that are direct collaborators, organization members with access through team memberships, organization members with access through default organization permissions, and organization owners.\n\nTeam members will include the members of child teams.\n\nThe authenticated user must have push access to the repository to use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `read:org` and `repo` scopes to use this endpoint.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/check-collaborator",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/collaborators/collaborators#check-if-a-user-is-a-repository-collaborator"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "$ref": "#/components/parameters/username"
     }
    ],
    "responses": {
     "204": {
      "description": "Response if user is a collaborator"
     },
     "404": {
      "description": "Not Found if user is not a collaborator"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "collaborators",
     "subcategory": "collaborators"
    }
   },
   "put": {
    "summary": "Add a repository collaborator",
    "description": "Add a user to a repository with a specified level of access. If the repository is owned by an organization, this API does not add the user to the organization - a user that has repository access without being an organization member is called an \"outside collaborator\" (if they are not an Enterprise Managed User) or a \"repository collaborator\" if they are an Enterprise Managed User. These users are exempt from some organization policies - see \"[Adding outside collaborators to repositories](https://docs.github.com/organizations/managing-user-access-to-your-organizations-repositories/managing-outside-collaborators/adding-outside-collaborators-to-repositories-in-your-organization)\" to learn more about these collaborator types.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).\n\nAdding an outside collaborator may be restricted by enterprise and organization administrators. For more information, see \"[Enforcing repository management policies in your enterprise](https://docs.github.com/admin/policies/enforcing-policies-for-your-enterprise/enforcing-repository-management-policies-in-your-enterprise#enforcing-a-policy-for-inviting-outside-collaborators-to-repositories)\" and \"[Setting permissions for adding outside collaborators](https://docs.github.com/organizations/managing-organization-settings/setting-permissions-for-adding-outside-collaborators)\" for organization settings.\n\nFor more information on permission levels, see \"[Repository permission levels for an organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#permission-levels-for-repositories-owned-by-an-organization)\". There are restrictions on which permissions can be granted to organization members when an organization base role is in place. In this case, the role being given must be equal to or higher than the org base permission. Otherwise, the request will fail with:\n\n```\nCannot assign {member} permission of {role name}\n```\n\nNote that, if you choose not to pass any parameters, you'll need to set `Content-Length` to zero when calling out to this endpoint. For more information, see \"[HTTP method](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#http-method).\"\n\nThe invitee will receive a notification that they have been invited to the repository, which they must accept or decline. They may do this via the notifications page, the email they receive, or by using the [API](https://docs.github.com/rest/collaborators/invitations).\n\nFor Enterprise Managed Users, this endpoint does not send invitations - these users are automatically added to organizations and repositories. Enterprise Managed Users can only be added to organizations and repositories within their enterprise.\n\n**Updating an existing collaborator's permission level**\n\nThe endpoint can also be used to change the permissions of an existing collaborator without first removing and re-adding the collaborator. To change the permissions, use the same endpoint and pass a different `permission` parameter. The response will be a `204`, with no other indication that the permission level changed.\n\n**Rate limits**\n\nYou are limited to sending 50 invitations to a repository per 24 hour period. Note there is no limit if you are inviting organization members to an organization repository.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/add-collaborator",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/collaborators/collaborators#add-a-repository-collaborator"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "$ref": "#/components/parameters/username"
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "permission": {
          "type": "string",
          "description": "The permission to grant the collaborator. **Only valid on organization-owned repositories.** We accept the following permissions to be set: `pull`, `triage`, `triage_plus`, `push`, `maintain`, `admin` and you can also specify a custom repository role name, if the owning organization has defined any.",
          "default": "push"
         }
        }
       },
       "examples": {
        "new-invitation-is-created": {
         "summary": "Add a collaborator with triage permissions",
         "value": {
          "permission": "triage"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Response when a new invitation is created",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/repository-invitation"
        },
        "examples": {
         "new-invitation-is-created": {
          "$ref": "#/components/examples/repository-invitation-response-when-a-new-invitation-is-created"
         }
        }
       }
      }
     },
     "204": {
      "description": "Response when:\n- an existing collaborator is added as a collaborator\n- an organization member is added as an individual collaborator\n- an existing team member (whose team is also a repository collaborator) is added as an individual collaborator"
     },
     "422": {
      "description": "Response when:\n- validation failed, or the endpoint has been spammed\n- an Enterprise Managed User (EMU) account was invited to a repository in an enterprise with personal user accounts",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/validation-error"
        }
       }
      }
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     }
    },
    "x-github": {
     "triggersNotification": true,
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "collaborators",
     "subcategory": "collaborators"
    }
   },
   "delete": {
    "summary": "Remove a repository collaborator",
    "description": "Removes a collaborator from a repository.\n\nTo use this endpoint, the authenticated user must either be an administrator of the repository or target themselves for removal.\n\nThis endpoint also:\n- Cancels any outstanding invitations sent by the collaborator\n- Unassigns the user from any issues\n- Removes access to organization projects if the user is not an organization member and is not a collaborator on any other organization repositories.\n- Unstars the repository\n- Updates access permissions to packages\n\nRemoving a user as a collaborator has the following effects on forks:\n - If the user had access to a fork through their membership to this repository, the user will also be removed from the fork.\n - If the user had their own fork of the repository, the fork will be deleted.\n - If the user still has read access to the repository, open pull requests by this user from a fork will be denied.\n\n> [!NOTE]\n> A user can still have access to the repository through organization permissions like base repository permissions.\n\nAlthough the API responds immediately, the additional permission updates might take some extra time to complete in the background.\n\nFor more information on fork permissions, see \"[About permissions and visibility of forks](https://docs.github.com/pull-requests/collaborating-with-pull-requests/working-with-forks/about-permissions-and-visibility-of-forks)\".",
    "tags": [
     "repos"
    ],
    "operationId": "repos/remove-collaborator",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/collaborators/collaborators#remove-a-repository-collaborator"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "$ref": "#/components/parameters/username"
     }
    ],
    "responses": {
     "204": {
      "description": "No Content when collaborator was removed from the repository."
     },
     "422": {
      "$ref": "#/components/responses/validation_failed"
     },
     "403": {
      "$ref": "#/components/responses/forbidden"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "collaborators",
     "subcategory": "collaborators"
    }
   }
  },
  "/repos/{owner}/{repo}/teams": {
   "get": {
    "summary": "List repository teams",
    "description": "Lists the teams that have access to the specified repository and that are also visible to the authenticated user.\n\nFor a public repository, a team is listed only if that team added the public repository explicitly.\n\nOAuth app tokens and personal access tokens (classic) need the `public_repo` or `repo` scope to use this endpoint with a public repository, and `repo` scope to use this endpoint with a private repository.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/list-teams",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/repos/repos#list-repository-teams"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/team"
         }
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/team-items"
         }
        }
       }
      },
      "headers": {
       "Link": {
        "$ref": "#/components/headers/link"
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "repos",
     "subcategory": "repos"
    }
   }
  },
  "/orgs/{org}/teams/{team_slug}/repos/{owner}/{repo}": {
   "put": {
    "summary": "Add or update team repository permissions",
    "description": "To add a repository to a team or update the team's permission on a repository, the authenticated user must have admin access to the repository, and must be able to see the team. The repository must be owned by the organization, or a direct fork of a repository owned by the organization. You will get a `422 Unprocessable Entity` status if you attempt to add a repository to a team that is not owned by the organization. Note that, if you choose not to pass any parameters, you'll need to set `Content-Length` to zero when calling out to this endpoint. For more information, see \"[HTTP method](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#http-method).\"\n\n> [!NOTE]\n> You can also specify a team by `org_id` and `team_id` using the route `PUT /organizations/{org_id}/team/{team_id}/repos/{owner}/{repo}`.\n\nFor more information about the permission levels, see \"[Repository permission levels for an organization](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#permission-levels-for-repositories-owned-by-an-organization)\".",
    "tags": [
     "teams"
    ],
    "operationId": "teams/add-or-update-repo-permissions-in-org",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/teams#add-or-update-team-repository-permissions"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/team-slug"
     },
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "permission": {
          "type": "string",
          "description": "The permission to grant the team on this repository. We accept the following permissions to be set: `pull`, `triage`, `push`, `maintain`, `admin` and you can also specify a custom repository role name, if the owning organization has defined any. If no permission is specified, the team's `permission` attribute will be used to determine what permission to grant the team on this repository."
         }
        }
       },
       "examples": {
        "default": {
         "summary": "Adding a team to an organization repository with the write role",
         "value": {
          "permission": "push"
         }
        }
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "Response"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "teams"
    }
   },
   "delete": {
    "summary": "Remove a repository from a team",
    "description": "If the authenticated user is an organization owner or a team maintainer, they can remove any repositories from the team. To remove a repository from a team as an organization member, the authenticated user must have admin access to the repository and must be able to see the team. This does not delete the repository, it just removes it from the team.\n\n> [!NOTE]\n> You can also specify a team by `org_id` and `team_id` using the route `DELETE /organizations/{org_id}/team/{team_id}/repos/{owner}/{repo}`.",
    "tags": [
     "teams"
    ],
    "operationId": "teams/remove-repo-in-org",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/teams/teams#remove-a-repository-from-a-team"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/org"
     },
     {
      "$ref": "#/components/parameters/team-slug"
     },
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     }
    ],
    "responses": {
     "204": {
      "description": "Response"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "teams",
     "subcategory": "teams"
    }
   }
  },
  "/repos/{owner}/{repo}/branches/{branch}/protection": {
   "get": {
    "summary": "Get branch protection",
    "description": "Protected branches are available in public repositories with GitHub Free and GitHub Free for organizations, and in public and private repositories with GitHub Pro, GitHub Team, GitHub Enterprise Cloud, and GitHub Enterprise Server. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/get-branch-protection",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/branches/branch-protection#get-branch-protection"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "$ref": "#/components/parameters/branch"
     }
    ],
    "responses": {
     "200": {
      "description": "Response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/branch-protection"
        },
        "examples": {
         "default": {
          "$ref": "#/components/examples/branch-protection"
         }
        }
       }
      }
     },
     "404": {
      "$ref": "#/components/responses/not_found"
     }
    },
    "x-github": {
     "githubCloudOnly": false,
     "enabledForGitHubApps": true,
     "category": "branches",
     "subcategory": "branch-protection"
    }
   },
   "put": {
    "summary": "Update branch protection",
    "description": "Protected branches are available in public repositories with GitHub Free and GitHub Free for organizations, and in public and private repositories with GitHub Pro, GitHub Team, GitHub Enterprise Cloud, and GitHub Enterprise Server. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.\n\nProtecting a branch requires admin or owner permissions to the repository.\n\n> [!NOTE]\n> Passing new arrays of `users` and `teams` replaces their previous values.\n\n> [!NOTE]\n> The list of users, apps, and teams in total is limited to 100 items.",
    "tags": [
     "repos"
    ],
    "operationId": "repos/update-branch-protection",
    "externalDocs": {
     "description": "API method documentation",
     "url": "https://docs.github.com/rest/branches/branch-protection#update-branch-protection"
    },
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "$ref": "#/components/parameters/branch"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "required_status_checks": {
          "type": "object",
          "description": "Require status checks to pass before merging. Set to `null` to disable.",
          "nullable": true,
          "properties": {
           "strict": {
            "type": "boolean",
            "description": "Require branches to be up to date before merging."
           },
           "contexts": {
            "type": "array",
            "deprecated": true,
            "description": "**Closing down notice**: The list of status checks to require in order to merge into this branch. If any of these checks have recently been set by a particular GitHub App, they will be required to come from that app in future for the branch to merge. Use `checks` instead of `contexts` for more fine-grained control.",
            "items": {
             "type": "string"
            }
           },
           "checks": {
            "type": "array",
            "description": "The list of status checks to require in order to merge into this branch.",
            "items": {
             "type": "object",
             "required": [
              "context"
             ],
             "properties": {
              "context": {
               "type": "string",
               "description": "The name of the required check"
              },
              "app_id": {
               "type": "integer",
               "description": "The ID of the GitHub App that must provide this check. Omit this field to automatically select the GitHub App that has recently provided this check, or any app if it was not set by a GitHub App. Pass -1 to explicitly allow any app to set the status."
              }
             }
            }
           }
          },
          "required": [
           "strict",
           "contexts"
          ]
         },
         "enforce_admins": {
          "type": "boolean",
          "description": "Enforce all configured restrictions for administrators. Set to `true` to enforce required status checks for repository administrators. Set to `null` to disable.",
          "nullable": true
         },
         "required_pull_request_reviews": {
          "type": "object",
          "description": "Require at least one approving review on a pull request, before merging. Set to `null` to disable.",
          "nullable": true,
          "properties": {
           "dismissal_restrictions": {
            "type": "object",
            "description": "Specify which users, teams, and apps can dismiss pull request reviews. Pass an empty `dismissal_restrictions` object to disable. User and team `dismissal_restrictions` are only available for organization-owned repositories. Omit this parameter for personal repositories.",
            "properties": {
             "users": {
              "type": "array",
              "description": "The list of user `login`s with dismissal access",
              "items": {
               "type": "string"
              }
             },
             "teams": {
              "type": "array",
              "description": "The list of team `slug`s with dismissal access",
              "items": {
               "type": "string"
              }
             },
             "apps": {
              "type": "array",
              "description": "The list of app `slug`s with dismissal access",
              "items": {
               "type": "string"
              }
             }
            }
           },
           "dismiss_stale_reviews": {
            "type": "boolean",
            "description": "Set to `true` if you want to automatically dismiss approving reviews when someone pushes a new commit."
           },
           "require_code_owner_reviews": {
            "type": "boolean",
            "description": "Blocks merging pull requests until [code owners](https://docs.github.com/articles/about-code-owners/) review them."
           },
           "required_approving_review_count": {
            "type": "integer",
            "description": "Specify the number of reviewers required to approve pull requests. Use a number between 1 and 6 or 0 to not require reviewers."
           },
           "require_last_push_approval": {
            "type": "boolean",
            "description": "Whether the most recent push must be approved by someone other than the person who pushed it. Default: `false`.",
            "default": false
           },
           "bypass_pull_request_allowances": {
            "type": "object",
            "description": "Allow specific users, teams, or apps to bypass pull request requirements.",
            "properties": {
             "users": {
              "type": "array",
              "description": "The list of user `login`s allowed to bypass pull request requirements.",
              "items": {
               "type": "string"
              }
             },
             "teams": {
              "type": "array",
              "description": "The list of team `slug`s allowed to bypass pull request requirements.",
              "items": {
               "type": "string"
              }
             },
             "apps": {
              "type": "array",
              "description": "The list of app `slug`s allowed to bypass pull request requirements.",
              "items": {
               "type": "string"
              }
             }
            }
           }
          }
         },
         "restrictions": {
          "type": "object",
          "description": "Restrict who can push to the protected branch. User, app, and team `restrictions` are only available for organization-owned repositories. Set to `null` to disable.",
          "nullable": true,
          "properties": {
           "users": {
            "type": "array",
            "description": "The list of user `login`s with push access",
            "items": {
             "type": "string"
            }
           },
           "teams": {
            "type": "array",
            "description": "The list of team `slug`s with push access",
            "items": {
             "type": "string"
            }
           },
           "apps": {
            "type": "array",
            "description": "The list of app `slug`s with push access",
            "items": {
             "type": "string"
            }
           }
          },
[...]
